/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: #fea116;
}

.service-item {
  transition: 0.5s;
}

.service-item:hover {
  color: #fff;
}

.icon {
  color: #eb9006;
  font-size: 40px;
}
